// //Fuente de google

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&display=swap');

// // boostrap icon

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    Margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    box-sizing: border-box;
}

main{
    min-height: 60vh;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #ff9ec9;
}

.ulnavbar{
    display: flex;
    gap: 50px;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0px;
    li{
        font-size: 1rem;
        a{
            text-decoration: none;
            color: black;
        }
    }
}

.logoynombre{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px 35px 20px 35px;
    img{
        height: 167px;
        width: 141px;
    } 
}

.nombrepagina{
    font-size: 3rem;
    text-decoration: none;
    color: aliceblue;
}

.total-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn-confirmar{
        height: 2rem;
        width: 30%;
        margin-top: 30px;
        background-color: #ef6c9a;
        color: rgb(0, 0, 0);
    }

    .total-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin: 30px;
    border: 1px solid black;
    width: 88%;
    font-size: 2rem;
    }

    .vaciar-carrito{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 30%;
        background-color: #000000;
        color: pink;
        font-size: 1rem;
        margin-top: 20px;
    }
}


.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin: 50px 0px;
    
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        padding: 20px;
        &:hover{
            box-shadow: -2px 2px 5px 3px #ff9ec9;
            transition: 0.8s;
        }

        h3{
            font-size: 1rem;
        }

        h4{
            font-size: 1rem;
        }
        &-img{
            height: 150px;
            width: 150px;
        }
        &-body{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .input-cantidad{
            display: flex;
            height: 2rem;
            width: 50%;
            margin-bottom: 1rem;
        }
        .btn-agregar{
            display: flex;
            height: 2rem;
            margin-bottom: 1rem;
            background-color: rgb(0, 0, 0);
            font-size: 1rem;
            color: white;
            justify-content: center;
            align-items: center;
            width: 80%;
            transition: 0.8s;
            &:hover{
                background-color: #ff9ec9;
                color: black;
            }
        }
        .btn-eliminar{
            display: flex;
            height: 2rem;
            width: 80%;
            margin-bottom: 1rem;
            background-color: rgb(134, 0, 0);
            font-size: 0.7rem;
            color: white;
            justify-content: center;
            align-items: center;
            width: 80%;
            transition: 0.8s;
            &:hover{
                background-color: #b90000;
                color: rgb(255, 255, 255);
            }
        }
    }
}

.compra{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    flex-direction: column;
    gap: 15px;
    .btn-confirmar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;
        width: 30%;
        background-color: #ff9ec9;
        color: black;
        font-size: 1rem;
    }
    .monto-total{
        height: 3rem;
        width: 30%;
        font-size: 2rem;
        padding: 20px;
        border: solid 1px black
    }
    p{
        margin: 0px;
    }
}

.carrito-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;

    .item-carrito{
        img{
            height: 150px;
            width: 150px;
        }
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 88%;
        border: 1px solid black;
        transition: 0.8s;
        &:hover{
            box-shadow: -2px 2px 5px 3px #ff9ec9;
            transition: 0.8s;
        }
    }
}

// FOOTER

.logos-footer{
    display: flex;
    justify-content: center;
    background-color: #ff9ec9;
    gap: 10px;
}